<h1> Artist: </h1>

<p> <%= @name %></p>

<img src="<%= @image %>" width="370" height="250" >

<br>

<p> <%= @location %></p>


<p> <%= @city %></p>

<p> <%= @state %></p>

<p> <%= @country %></p>

<p> <%= Time.parse(@date).strftime("%d, %B, %Y") %></p>

<p> <%= Time.parse(@time).strftime("%l:%M:%p") %></p>







