<div class="mainSearchedPage">

<div class="searchedartist">
<h1> <%= @name %> </h1>
</div>

<br>



<br>

<div class="artistImage">
<img src="<%= @image %>" width="540" height="350" >
 </div>
<br>
<br>

<div class="detailsArtists">
	<br>

<h1> <span class="titlesArtistBlack">Venue:</span> <%= @location %></h1> 
<h1> <span class="titlesArtistBlack">Time:</span> <%= Time.parse(@time).strftime("%l:%M:%p") %>  </h1>

<h1> <span class="titlesArtistBlack">Date:</span> <%= Time.parse(@date).strftime("%d, %B, %Y") %> </h1>

<div class="locationArtist">
<h1> <span class="titlesArtistBlack">Location:</span> <%= @city %><span>,</span> <%= @state %><span>,</span> <%= @country %></h1>
</div>
<br>
</div>

<br>
<br>


<br>

<div class="ArtistSearchAgainButton">
<a href="/">Search Again?</a>
</div>


</div>

